#
# Specific Dependencies for the LangChain-RAG Service
#
# This file lists the core, direct dependencies required to run only 
# the Retrieval-Augmented Generation (RAG) and vector database components.
#

# Core LangChain
langchain
langchain-community
langchain-openai

# Other LangChain Modules
langchain-huggingface
langchain-chroma

# Vector DB and Search
chromadb
sentence-transformers
langchain-text-splitters

# Utilities
python-dotenv
jq

# In case of content_navigator_ai, Streamlit is also required
streamlit